<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997830302695-oc1n70849gi5hjtt819o7j1b3hc48dli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997830302695-oc1n70849gi5hjtt819o7j1b3hc48dli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997830302695-ik7st1kk455l1mfrsdqip9k58ap8ds1l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Zx-ZF9FMRWvraOD8NSCxaMdj7TY26ms</string>
	<key>GCM_SENDER_ID</key>
	<string>997830302695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.proyectogranel</string>
	<key>PROJECT_ID</key>
	<string>proyectoagranel</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoagranel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997830302695:ios:1702090a9be0a63083fb42</string>
</dict>
</plist>